.flows.json.backup
[
    {
        "id": "551d6d5c0f435291",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75605d9ce065f1f0",
        "type": "mqtt-broker",
        "name": "DebServTest",
        "broker": "192.168.1.52",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "I'm Alive!",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "17aed6357b45279e",
        "type": "mqtt in",
        "z": "551d6d5c0f435291",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "utf8",
        "broker": "75605d9ce065f1f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "49f1d9810d2c8eb8"
            ]
        ]
    },
    {
        "id": "49f1d9810d2c8eb8",
        "type": "debug",
        "z": "551d6d5c0f435291",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 180,
        "wires": []
    },
    {
        "id": "7798d9e11a94ded5",
        "type": "mqtt out",
        "z": "551d6d5c0f435291",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75605d9ce065f1f0",
        "x": 270,
        "y": 240,
        "wires": []
    },
    {
        "id": "93fb82548e2753a2",
        "type": "inject",
        "z": "551d6d5c0f435291",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "Fart Wank",
        "payloadType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "7798d9e11a94ded5"
            ]
        ]
    },
    {
        "id": "1951b8c348279b31",
        "type": "function",
        "z": "551d6d5c0f435291",
        "name": "Random Value Gen",
        "func": "// Generate a random humidity value between 0 and 100\nvar randomHumidity = Math.random() * 15;\nvar stringinject = \"fart wanker the fourth\";\n\n// Create the message object with the random humidity value\nmsg = {\n    payload: randomHumidity,\n    topic: \"test\"\n};\n\n// Return the message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 360,
        "wires": [
            [
                "7798d9e11a94ded5"
            ]
        ]
    },
    {
        "id": "5fec7fbb58655841",
        "type": "inject",
        "z": "551d6d5c0f435291",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "1951b8c348279b31"
            ]
        ]
    },
    {
        "id": "2bdb6512e039a9eb",
        "type": "complete",
        "z": "551d6d5c0f435291",
        "name": "",
        "scope": [
            "93fb82548e2753a2"
        ],
        "uncaught": false,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "3030f24e7d993bf4"
            ]
        ]
    },
    {
        "id": "3030f24e7d993bf4",
        "type": "trigger",
        "z": "551d6d5c0f435291",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "val",
        "op2type": "val",
        "duration": "250",
        "extend": "false",
        "overrideDelay": "false",
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "1e233cc45bd90f14"
            ]
        ]
    },
    {
        "id": "1e233cc45bd90f14",
        "type": "function",
        "z": "551d6d5c0f435291",
        "name": "function 1",
        "func": "// Generate a random humidity value between 0 and 100\nvar randomHumidity = Math.random() * 15;\nvar stringinject = \"fart wanker TX Completed\";\n\n// Create the message object with the random humidity value\nvar msg = {\n    payload: stringinject,\n    topic: \"test\"\n};\n\n\n// Return the message object\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "7798d9e11a94ded5"
            ]
        ]
    }
]